#top-soil-container {
    background-color: #482b7b;
}

#top-soil-banner {
    height: 700px;
    object-fit: cover;
}

#top-soil {
    width: 60%;
    margin: 0% 20%;
    padding: 2%;
    background-color: #fff;
}

.top-soil-header {
    font-family: 'Antonio', sans-serif;
    color: #482b7b;
}

#top-soil-content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 100px;
    row-gap: 20px;
    width: 90%;
    margin: 2% 5%;
}

.top-soil-content-col:nth-child(1), .top-soil-content-col:nth-child(4),
.top-soil-content-col:nth-child(5) {
    grid-column: span 5;
}

.top-soil-content-col:nth-child(2), .top-soil-content-col:nth-child(3),
.top-soil-content-col:nth-child(6) {
    grid-column: span 7;
}

.top-soil-content-col:last-child {
    padding: 17.5% 0;
}

.top-soil-subheader {
    font-family: 'Antonio', sans-serif;
    color: #482b7b!important;
    width: 90%!important;
    margin: 2% 5% 1%!important;
}

.top-soil-text {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
    margin: 0 5%;
}

#top-soil-list {
    width: 90%;
    margin: 0 5%;
}

.top-soil-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #482b7b;
    margin-bottom: 2%;
}

.top-soil-bold-text {
    color: #482b7b;
}

#top-soil-btn-container {
    text-align: center;
    margin: 2% 0;
}

.top-soil-btn {
    color: white!important;
    background-color: #482b7b!important;
    width: 15%!important;
    border: 1px solid #fff!important;
    margin: 0 1%!important;
    transition: 0.5s!important;
}

.top-soil-btn:hover {
    background-color: #fff!important;
    color: #482b7b!important;
    border: 1px solid #482b7b!important;
    transition: 0.5s!important;
}

#top-soil-last-line {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    text-align: center;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #top-soil {
        width: 70%;
        margin: 0 15%;
    }
    #top-soil-content-container {
        column-gap: 50px;
    }

    .top-soil-content-img.second, .top-soil-content-img.third {
        margin-top: 10%!important;
    }

    .top-soil-content-col:nth-child(1), .top-soil-content-col:nth-child(4),
    .top-soil-content-col:nth-child(5) {
        grid-column: span 5;
    }

    .top-soil-content-col:nth-child(2), .top-soil-content-col:nth-child(3),
    .top-soil-content-col:nth-child(6) {
        grid-column: span 7;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #top-soil {
        width: 80%;
        margin: 0 10%;
    }

    #top-soil-content-container {
        column-gap: 50px;
    }

    .top-soil-content-img.first {
        margin-top: 5%!important;
    }

    .top-soil-content-img.second, .top-soil-content-img.third {
        margin-top: 10%!important;
    }

    .top-soil-content-col:nth-child(1), .top-soil-content-col:nth-child(4),
    .top-soil-content-col:nth-child(5) {
        grid-column: span 5;
    }

    .top-soil-content-col:nth-child(2), .top-soil-content-col:nth-child(3),
    .top-soil-content-col:nth-child(6) {
        grid-column: span 7;
    }

    .top-soil-content-col:last-child {
        padding: 10% 0;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #top-soil {
        width: 80%;
        margin: 0 10%;
    }

    #top-soil-content-container {
        column-gap: 50px;
    }

    .top-soil-content-img.first {
        margin-top: 5%!important;
    }

    .top-soil-content-img.second, .top-soil-content-img.third {
        margin-top: 10%!important;
    }

    .top-soil-content-col:nth-child(1), .top-soil-content-col:nth-child(4),
    .top-soil-content-col:nth-child(5) {
        grid-column: span 5;
    }

    .top-soil-content-col:nth-child(2), .top-soil-content-col:nth-child(3),
    .top-soil-content-col:nth-child(6) {
        grid-column: span 7;
    }

    .top-soil-content-col:last-child {
        padding: 10% 0;
    }

    .top-soil-btn {
        width: 20%!important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #top-soil {
        width: 80%;
        margin: 0 10%;
    }

    #top-soil-content-container {
        column-gap: 50px;
    }

    .top-soil-content-col {
        grid-column: span 12!important;
    }

    .top-soil-content-col:nth-child(4) {
        grid-row: 3;
    }

    .top-soil-content-col:last-child {
        padding: 10% 0;
    }

    .top-soil-btn {
        width: 30%!important;
    }
}

@media (max-width: 767px) {
    #top-soil {
        width: 100%;
        margin: 0 0%;
    }

    #top-soil-content-container {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 2% 5%;
    }

    .top-soil-content-col {
        grid-column: span 1!important;
    }
    .top-soil-content-col:nth-child(4) {
        grid-row: 3;
    }

    .top-soil-content-col:last-child {
        padding: 10% 0;
    }

    .top-soil-btn {
        width: 40%!important;
    }
}

