#about-container {
    width: 60%;
    margin: 0 20%;
    padding: 1% 0;
}

#about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.about-col:first-child {
    grid-column: span 2;
    overflow-y: auto;
    max-height: 800px;
}

#about-contact-info {
    background-color: #482b7b;
    padding: 5%;
    color: white;
}

#about-header {
    font-family: "Antonio", sans-serif;
}

.about-subheader.first-col {
    font-family: "Antonio", sans-serif!important;
    color: #482b7b!important;
}

.about-subheader.second-col {
    color: white!important;
    font-family: "Antonio", sans-serif!important;
}

#about-hours-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-text {
    font-size: 16px!important;
    line-height: 30px!important;
}

.about-list {
    width: 75%;
    margin: 2% 20% 0 5%!important;
}

.about-list-item {
    font-family: "Antonio", sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2%;
}

.about-bold-text {
    color: #482b7b;
}

.ui.bound.bottom.sticky {
    bottom: -47.5%!important;
}