#contact-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.form-label {
    font-size: 16px;
    margin-right: 5%;
    font-family: "Antonio", sans-serif;
}

.contact-form-col:has(.form-label) {
    grid-column: span 1;
}

.form-input {
    width: 60%;
    height: 30px;
    border: solid black 1px;
    font-family: "Antonio", sans-serif;
}

#message-input {
    height: 100px;
    resize: none;
    font-family: "Antonio", sans-serif;
}

.contact-form-col:has(.form-input) {
    grid-column: span 11;
}

#contact-submit-btn {
    width: 100%;
    margin: 0 40%;
}

.contact-form-col:last-child {
    grid-column: 3 / span 3;
}