#land-grading-container {
    background-color: #482b7b;
}

#land-grading-banner {
    height: 500px;
    object-fit: cover;
}

#land-grading {
    width: 60%;
    margin: 0% 20%;
    padding: 2%;
    background-color: #fff;
}

.land-grading-header {
    font-family: 'Antonio', sans-serif;
    color: #482b7b;
}

#land-grading-content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 100px;
    row-gap: 20px;
    width: 90%;
    margin: 2% 5%;
}

.land-grading-content-col:nth-child(1), .land-grading-content-col:nth-child(4),
.land-grading-content-col:nth-child(5) {
    grid-column: span 5;
}

.land-grading-content-col:nth-child(2), .land-grading-content-col:nth-child(3),
.land-grading-content-col:nth-child(6) {
    grid-column: span 7;
}

.land-grading-content-img {
    padding: 10% 0;
}

.land-grading-subheader {
    font-family: 'Antonio', sans-serif;
    color: #482b7b!important;
    width: 90%!important;
    margin: 2% 5% 1%!important;
}

.land-grading-text {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
    margin: 0 5%;
}

#land-grading-list {
    width: 90%;
    margin: 0 5%;
}

.land-grading-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #482b7b;
    margin-bottom: 2%;
}

.land-grading-bold-text {
    color: #482b7b;
}

#land-grading-btn-container {
    text-align: center;
    margin: 2% 0;
}

.land-grading-btn {
    color: white!important;
    background-color: #482b7b!important;
    width: 15%!important;
    border: 1px solid #fff!important;
    margin: 0 1%!important;
    transition: 0.5s!important;
}

.land-grading-btn:hover {
    background-color: #fff!important;
    color: #482b7b!important;
    border: 1px solid #482b7b!important;
    transition: 0.5s!important;
}

#land-grading-last-line {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    text-align: center;
}