#certifications-container {
    width: 60%;
    margin: 2% 20%;
}

#certifications {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.cert-col {
    grid-column: span 2;
}