#testimonials-container {
    background-color: #482b7b;
    background-image: url("https://wz-excavating-bucket.s3.amazonaws.com/banners/textless/patios-textless.png");
    background-size: cover;
    background-position: 0% 60%;
    padding: 2%;
}

#testimonials-header-container {
    width: 60%;
    margin: 0 20%;
}

#testimonials-header {
    text-align: center;
    margin-bottom: 2%;
    font-size: 32px;
}

#testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px; 
    width: 60%;
    margin: 0 20%;
}

.testimonial-icon {
    color: #fff!important;
    margin-bottom: 2%!important;
}

.testimonial-text {
    font-size: 16px;
        line-height: 35px;
}

#testimonials-header, .testimonial-text {
    color: #fff!important;
    font-family: 'Antonio', sans-serif!important;
    font-weight: 300;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #testimonials-container {
        padding: 2%;
    }

    #testimonials-header-container {
        width: 60%;
        margin: 0 20%;
    }

    #testimonials {
        width: 80%;
        margin: 0 10%;
    }

    .testimonial-text {
        font-size: 16px;
        line-height: 35px;
    }
}