#site-prep-container {
    background-color: #482b7b;
}

#site-prep-banner {
    height: 700px;
    object-fit: cover;
}

#site-prep {
    width: 60%;
    margin: 0% 20%;
    padding: 2%;
    background-color: #fff;
}

.site-prep-header {
    font-family: 'Antonio', sans-serif;
    color: #482b7b;
}

#site-prep-content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 100px;
    row-gap: 20px;
    width: 100%;
    margin: 2% 0%;
}

.site-prep-content-col:nth-child(1), .site-prep-content-col:nth-child(4), 
.site-prep-content-col:nth-child(7), .site-prep-content-col:nth-child(9) {
    grid-column: 2 / span 5;
}

.site-prep-content-col:nth-child(2),
.site-prep-content-col:nth-child(5),
.site-prep-content-col:nth-child(8) {
    grid-column: span 5;
}

.site-prep-content-col:nth-child(2),
.site-prep-content-col:nth-child(4),
.site-prep-content-col:nth-child(8) {
    margin-top: 10%;
}

.site-prep-content-col:nth-child(3), .site-prep-content-col:nth-child(6) {
    grid-column: span 12;
}

.site-prep-content-img {
    padding: 10% 0;
}

.site-prep-subheader {
    font-family: 'Antonio', sans-serif;
    color: #482b7b!important;
    /* width: 90%!important; */ 
    margin: 2% 5% 1%!important;
}

#site-prep-key-components, #site-prep-trench-steps {
    margin: 0 0 4%!important;
}

.site-prep-text {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
    margin: 0 5%;
}

.site-prep-list {
    width: 80%;
    margin: 5% 10% 0!important;
}

.site-prep-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2%;
}
.site-prep-sub-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    margin-bottom: 0%;

}

.site-prep-bold-text {
    color: #482b7b;
}

#site-prep-btn-container {
    text-align: center;
    margin: 2% 0;
}

.site-prep-btn {
    color: white!important;
    background-color: #482b7b!important;
    width: 15%!important;
    border: 1px solid #fff!important;
    margin: 0 1%!important;
    transition: 0.5s!important;
}

.site-prep-btn:hover {
    background-color: #fff!important;
    color: #482b7b!important;
    border: 1px solid #482b7b!important;
    transition: 0.5s!important;
}

#site-prep-last-line {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    text-align: center;
}