#site-prep-container {
    background-color: #482b7b;
}

#site-prep-banner {
    height: 700px;
    object-fit: cover;
}

#site-prep {
    width: 60%;
    margin: 0% 20%;
    padding: 2%;
    background-color: #fff;
}

.site-prep-header {
    font-family: 'Antonio', sans-serif;
    color: #482b7b;
}

.site-prep-subheader {
    font-family: 'Antonio', sans-serif;
    color: #482b7b!important;
    width: 80%!important;
    margin: 2% 10% 1%!important;
    font-size: 24px!important;
}

.site-prep-text {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    margin: 2% 10%;
}

.site-prep-list {
    width: 60%;
    margin: 0 0% 2% 15%!important;
}

.site-prep-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 2%;
}
.site-prep-sub-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin-bottom: 0%;
}

.site-prep-img {
    width: 80%!important;
    margin: 0 10%!important;
    height: 700px!important;
    object-fit: cover!important;
}

.site-prep-bold-text {
    color: #482b7b;
}

#site-prep-btn-container {
    text-align: center;
    margin: 2% 0;
}

.site-prep-btn {
    color: white!important;
    background-color: #482b7b!important;
    width: 15%!important;
    border: 1px solid #fff!important;
    margin: 0 1%!important;
    transition: 0.5s!important;
}

.site-prep-btn:hover {
    background-color: #fff!important;
    color: #482b7b!important;
    border: 1px solid #482b7b!important;
    transition: 0.5s!important;
}

#site-prep-last-line {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    text-align: center;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #site-prep {
        width: 70%;
        margin: 0 15%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #site-prep {
        width: 80%;
        margin: 0 10%;
    }

    .site-prep-text {
        width: 90%;
        margin: 2% 5%;
    }

    .site-prep-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .site-prep-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #site-prep {
        width: 80%;
        margin: 0 10%;
    }

    .site-prep-text {
        width: 90%;
        margin: 2% 5%;
    }

    .site-prep-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .site-prep-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }

    .site-prep-btn {
        width: 20%!important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #site-prep {
        width: 100%;
        margin: 0 0%;
    }

    #site-prep-banner {
        height: auto;
    }

    .site-prep-text {
        width: 90%;
        margin: 2% 5%;
    }

    .site-prep-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .site-prep-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }

    .site-prep-header {
        margin-top: 5%!important;
    }

    .site-prep-list {
        width: 60%;
        margin: 0 20% 5%!important;
    }

    .site-prep-btn {
        width: 30%!important;
    }
}

@media (max-width: 767px) {
    #site-prep {
        width: 100%;
        margin: 0 0%;
    }

    #site-prep-banner {
        height: auto;
    }

    .site-prep-text {
        width: 90%;
        margin: 2% 5% 10%;
    }

    .site-prep-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 300px!important;
        object-fit: cover!important;
    }

    .site-prep-subheader {
        width: 90%!important;
        margin: 10% 5% 3%!important;
    }

    .site-prep-header {
        width: 70%!important;
        margin: 10% 15% 5%!important;
    }

    .site-prep-list {
        width: 80%;
        margin: 0 10% 10%!important;
    }

    .site-prep-btn {
        width: 40%!important;
    }
}