#excavation-container {
    background-color: #482b7b;
}

#excavation-banner {
    height: 700px;
    object-fit: cover;
}

#excavation {
    width: 60%;
    margin: 0% 20%;
    padding: 2%;
    background-color: #fff;
}

.excavation-header {
    font-family: 'Antonio', sans-serif;
    color: #482b7b;
    width: 50%!important;
    margin: 2% 25%!important;
    text-align: center;
}

.excavation-subheader {
    font-family: 'Antonio', sans-serif;
    color: #482b7b!important;
    width: 80%!important;
    margin: 2% 10% 1%!important;
    font-size: 24px!important;
}

.excavation-text {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    margin: 2% 10%;
}

.excavation-img {
    width: 80%!important;
    margin: 0 10%!important;
    height: 700px!important;
    object-fit: cover!important;
}

#excavation-list {
    width: 40%;
    margin: 0 30%;
}

.excavation-list-item {
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #482b7b;
    margin-bottom: 2%;
}

.excavation-bold-text {
    color: #482b7b;
}

#excavation-btn-container {
    text-align: center;
    margin: 2% 0;
}

.excavation-btn {
    color: white!important;
    background-color: #482b7b!important;
    width: 15%!important;
    border: 1px solid #fff!important;
    margin: 0 1%!important;
    transition: 0.5s!important;
}

.excavation-btn:hover {
    background-color: #fff!important;
    color: #482b7b!important;
    border: 1px solid #482b7b!important;
    transition: 0.5s!important;
}

#excavation-last-line {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    text-align: center;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #excavation {
        width: 70%;
        margin: 0 15%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #excavation {
        width: 80%;
        margin: 0 10%;
    }

    .excavation-text {
        width: 90%;
        margin: 2% 5%;
    }

    .excavation-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .excavation-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }

    #excavation-list {
        width: 50%;
        margin: 0 25%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #excavation {
        width: 80%;
        margin: 0 10%;
    }

    .excavation-text {
        width: 90%;
        margin: 2% 5%;
    }

    .excavation-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .excavation-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }

    #excavation-list {
        width: 50%;
        margin: 0 25%;
    }

    .excavation-btn {
        width: 20%!important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #excavation {
        width: 100%;
        margin: 0 0%;
    }

    #excavation-banner {
        height: auto;
    }

    .excavation-text {
        width: 90%;
        margin: 2% 5%;
    }

    .excavation-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 600px!important;
        object-fit: cover!important;
    }

    .excavation-subheader {
        width: 90%!important;
        margin: 2% 5% 1%!important;
    }

    .excavation-header {
        margin-top: 5%!important;
    }

    #excavation-list {
        width: 60%;
        margin: 0 20% 5%;
    }

    .excavation-btn {
        width: 30%!important;
    }
}

@media (max-width: 767px) {
    #excavation {
        width: 100%;
        margin: 0 0%;
    }

    #excavation-banner {
        height: auto;
    }

    .excavation-text {
        width: 90%;
        margin: 2% 5% 10%;
    }

    .excavation-img {
        width: 90%!important;
        margin: 0 5%!important;
        height: 300px!important;
        object-fit: cover!important;
    }

    .excavation-subheader {
        width: 90%!important;
        margin: 10% 5% 3%!important;
    }

    .excavation-header {
        width: 70%!important;
        margin: 10% 15% 5%!important;
    }

    #excavation-list {
        width: 80%;
        margin: 0 10% 10%;
    }

    .excavation-btn {
        width: 40%!important;
    }
}